.map{
    height: 35rem; width: 100rem; margin-left: 1rem;
}

@media only screen   
and (min-device-width : 320px)   
and (max-device-width : 640px)  
{ 
.map{
    height: 35rem; width: 75rem; margin-left: 1rem;
}
}